*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
body> div{
    margin: auto;
}
/*---------------- Toast Message -----------------*/
.toast
{
    display: flex;
    align-items:center ;
    background-color: #FFF;
    border-radius: 2px;
    padding: 20px 0;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0,0,0,0.08);
}
.toast--success{
    
}
.toast--warning{

}
.toast--info{

}
.toast--error{

}
.toast + .toast{
    margin-top:24px;
}
.toast__icon{
    padding: 0 16px;
    font-size: 24px;
    color: rgba(0,0,0,0.3);
}

.toast__body{

}
.toast__title{
    font-size: 16px;
    font-weight: 600;
    color: rgb(51, 51, 51);
}
.toast__msg{
    font-size: 16px;
    color: #888;
    margin-top: 4px;
}
.toast__close{
    padding:0 16px;
    color: rgba(0,0,0,0.3);
    cursor: pointer;
}